<div class='modal-header modalHead'> 
    <h4 class='modal-title'>{{confirmationTitle}}</h4> 
</div>

<div class='modal-body modalBody'>
{{confirmationMessage}}
</div>

<div class="modal-footer modalFoot">
	<button class="btn btn-success btnLanier" ng-click="ok()">
	    <span class="glyphicons glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Ok
	</button>
	<button class="btn btn-danger btnLanier" ng-click="cancel()">
	    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Cancel
	</button>
</div>


