<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.raydar.mybatis.persistence.appointment.AppointmentMapper">




	<select id="getAppointmentByParam" parameterType="map" resultType="Appointment">
		SELECT
		app.appointmentID,
		app.companyID,
		app.doctorID,
		app.patientID,
		app.status,
		app.createdBy,
		app.appointmentType,
		app.appointmentTime,
		app.appointmentDate,
		pat.firstName AS patientFirstName,
		pat.dateOfBirth AS patientDateOfBirth,
		pat.contactNo AS patientContact,
		pat.sex AS patientSex,
		doc.firstName AS doctorFirstName,
		doc.dateOfBirth AS doctorDateOfBirth,
		doc.contactNo AS doctorContact,
		doc.sex AS doctorSex

		FROM `appointment` app
		JOIN echo_user_profile pat ON app.patientID = pat.userID
		JOIN echo_user_profile doc ON app.doctorID = doc.userID

		WHERE 1 =  1
		<if test="doctorID != null">
			AND app.doctorID = #{doctorID}
		</if>
		<if test="companyID != null">
			AND app.companyID = #{companyID}
		</if>
		<if test="appointmentDate != null">
			AND DATE(app.appointmentDate)= DATE(#{appointmentDate})
		</if>
		<if test="offset != null and limit != null and sortColumn != null and sortOrder != null">
			ORDER BY ${sortColumn} ${sortOrder}
			LIMIT #{limit} OFFSET #{offset}
		</if>
	</select>

	<select id="getCountByParam" parameterType="map" resultType="int">
		SELECT COUNT(app.appointmentID)
		FROM `appointment` app
		JOIN echo_user_profile pat ON app.patientID = pat.userID
		JOIN echo_user_profile doc ON app.doctorID = doc.userID

		WHERE 1 =  1
		<if test="doctorID != null">
			AND app.doctorID = #{doctorID}
		</if>
		<if test="companyID != null">
			AND app.companyID = #{companyID}
		</if>
		<if test="appointmentDate != null">
			AND DATE(app.appointmentDate)= DATE(#{appointmentDate})
		</if>
	</select>

	<select id="bringAppointment" parameterType="map" resultType="Appointment" >
		SELECT
			app.appointmentID,
			app.companyID,
			app.doctorID,
			app.patientID,
			app.status,
			app.createdBy,
			app.appointmentType,
			app.appointmentTime,
			app.appointmentDate,
			pat.firstName AS patientFirstName,
			pat.dateOfBirth AS patientDateOfBirth,
			pat.contactNo AS patientContact,
			pat.sex AS patientSex,
			doc.firstName AS doctorFirstName,
			doc.dateOfBirth AS doctorDateOfBirth,
			doc.contactNo AS doctorContact,
			doc.sex AS doctorSex

		FROM `appointment` app
		JOIN echo_user_profile pat ON app.patientID = pat.userID
		JOIN echo_user_profile doc ON app.doctorID = doc.userID
		WHERE app.appointmentID = #{appointmentID}
	</select>

	<insert id="create" parameterType="AppointmentData" useGeneratedKeys="true" keyProperty="appointmentID">

		INSERT INTO
			`appointment`
		(
			companyID,
			`doctorID`,
			`patientID`,
			`appointmentDate`,
			`appointmentTime`,
			`status`,
			`appointmentType`,
			`updatedOn`,
			`updatedBy`,
			`createdOn`,
			`createdBy`
		)
		VALUES
		(
			#{companyID},
			#{doctorID},
			#{patientID},
			#{appointmentDate},
			#{appointmentTime},
			#{status},
			#{appointmentType},
			#{updatedOn},
			#{updatedBy},
			#{createdOn},
			#{createdBy}
		)

	</insert>


	




</mapper>