<div class="panel panel-default mt-15">
    <div class="panel-heading clearfix">
        <div class="row">
            <div id="breadCum" class="col-md-8 col-lg-8 col-sm-8">
                    <strong> Category : {{categoryData.shortName}}</strong>
            </div>
            <div class="pull-right" class="col-md-4 col-lg-4 col-sm-4"> <button class="btn btn-sm btn-warning" data-ng-click="goToCategoryList()"><span class="fa fa-undo"></span> Category List</button></div>
        </div>
    </div>
</div>

<div class="alert alert-danger alert-dismissable" data-ng-show="hasError">
    {{message}}
</div>
<div class="alert alert-success alert-dismissable" data-ng-show="hasSuccess">
    {{message}}
</div>

<div id="validationRequired" ng-show="showForm">
    <div class="panel panel-default mt-15">
        <div class="panel-body p15">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-4">
                    <div class="form-group mb-0">
                        <label>Sub Category Type Name<span class="text-red">*</span></label>
                        <input type="text" data-ng-model="subCategoryType.shortName" class="form-control input-sm required" maxlength="100">
                        <div class="validationErrMsg hidden"></div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4">
                    <div class="form-group mb-0">
                        <label>Required in Type : <span class="text-red">*</span></label>
                        <select class="form-control" data-ng-model="subCategoryType.status">
                            <option value="">--Select--</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                        <div class="validationErrMsg hidden"></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel-footer">
            <div class="text-right">
                <button class="btn btn-sm btn-warning" data-ng-click="reset()"><span class="fa fa-undo"></span> Reset</button>
                <button class="btn btn-sm btn-success" data-ng-click="save(subCategoryType)" data-ng-hide="subCategoryType.subCategoryTypeID > 0"><span class="fa fa-floppy-o"></span> Save</button>
                <button class="btn btn-sm btn-success" title="Options" data-ng-click="update(subCategoryType)" data-ng-show="subCategoryType.subCategoryTypeID > 0"><span class="fa fa-floppy-o"></span> Update</button>
                <button class="btn btn-sm btn-danger" data-ng-click="cancel()"><span class="fa fa-times"></span> Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default mt-15" ng-show="!showForm">
    <div class="panel-heading clearfix">
        <strong>Sub Category Type List</strong>
        <button class="btn btn-sm btn-success pull-right" data-ng-click="add()"><span class="fa fa-plus"></span> Add Sub Category Type </button>
    </div>
    <div class="alert alert-info" data-ng-show="subCategoryList.length == 0">No Sub Category Type Found</div>

    <table class="table table-bordered table-condensed table-striped table-hover fams-table" data-ng-show="subCategoryTypeList.length > 0">
        <thead>
        <tr class="bg-primary">
            <th width="8%">Sl</th>
            <th>Name</th>
            <th>Required in Type</th>
            <th width="10%">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="subCategoryType in subCategoryTypeList">
            <td>{{$index + 1}}</td>
            <td>{{subCategoryType.shortName}}</td>
            <td>{{subCategoryType.status == 1 ? 'Yes' : "No" }}</td>
            <td>
                <a href="" class="" data-ng-click="edit(subCategoryType)"><span class="fa fa-pencil-square-o"></span></a>
                <a href="" class="" data-ng-click="mangeSubCategory(subCategoryType)"><span class="fa fa fa-desktop"></span></a>
                <a href="" class=""
                   echo-confirmation="delete(subCategoryType, $index)"
                   confirmation-message="Are you sure to remove?"
                   confirmation-title="Confirmation"
                   item="item">
                    <span class="fa fa-trash"></span> </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>