<div class="panel panel-default mt-15">
    <div class="panel-heading clearfix">
        <div class="row">
            <div id="breadCum" class="col-md-8 col-lg-8 col-sm-8">
                <strong>Claim On Behalf</strong>
            </div>
            <div  class="col-md-4 col-lg-4 text-right">
                <button title="search" class="btn btn-primary" data-ng-click="search()"><span class="fa fa-search"></span></button>
            </div>
        </div>
    </div>
</div>

<div class="generic-container">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="row" id="searchBox">
                <div class="col-md-4 col-lg-4 form-group">
                    <label >Approval level : </label>
                    <select class="form-control pull-right required" data-ng-model="actionStateCode" data-ng-options="approvalLevel.actionStateCode as approvalLevel.approvalState for approvalLevel in approvalLevelList" data-ng-change="outletOnChange(outletID)">
                        <option value="">--Select--</option>
                    </select>
                    <div class="validationErrMsg hidden"></div>
                </div>
                <div class="col-md-4 col-lg-4 form-group">
                    <label  >Staff Code</label>
                    <input type="text"  data-ng-model="staffCode" typeahead="itemList.employeeCode for itemList in getTypeHeadItem($viewValue)"  class="form-control required"  typeahead-on-select='onSelectItem($item, $model, $label)'/>
                    <div class="validationErrMsg hidden"></div>
                </div>
            </div>
        </div>

    </div>


<!--#######################################################################################################################################################################-->


<div data-ng-if="searchComplete">

    <div class="panel panel-default mt-15">
        <div class="panel-heading clearfix">
            <div class="row">
                <div  class="col-md-8 col-lg-8 col-sm-8">
                    <strong> Approval > Submitted Claims</strong>
                </div>
                <div class="pull-right" class="col-md-4 col-lg-4 col-sm-4">
                    <div class="form-group mb-0">
                        <label>Default View<span class="text-red">*</span></label>
                        <select class="form-control" data-ng-model="defaultView" data-ng-change="changeView(defaultView)">
                            <option value="">--Select--</option>
                            <option value="USERBULK">User List</option>
                            <option value="CATEGORYBULK">Category</option>
                        </select>
                        <div class="validationErrMsg hidden"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default mt-15">
        <div class="panel-heading clearfix">
            <div class="row">
                <div  class="col-md-8 col-lg-8 col-sm-8">
                </div>
                <div class="pull-right" class="col-md-4 col-lg-4 col-sm-4">
                    <button class="btn btn-sm btn-success" data-ng-show="defaultView == 'USERBULK' && !singleView" data-ng-click="saveFullList(approvalData.approvalStatus, approvalData.rejectStatus)" data-ng-show="true"><span class="fa fa-floppy-o"></span> Process</button>
                    <button class="btn btn-sm btn-success" data-ng-show="defaultView != 'USERBULK' && !singleView" data-ng-click="saveByCategory(approvalData.approvalStatus, approvalData.rejectStatus)" data-ng-show="true"><span class="fa fa-floppy-o"></span> Process</button>
                    <button class="btn btn-sm btn-success" data-ng-show="singleView" data-ng-click="saveSingle(approvalData.approvalStatus, approvalData.rejectStatus)" data-ng-show="true"><span class="fa fa-floppy-o"></span> Process</button>
                </div>
            </div>
        </div>
    </div>




    <div class="alert alert-danger alert-dismissable" data-ng-show="hasError">
        {{message}}
    </div>
    <div class="alert alert-success alert-dismissable" data-ng-show="hasSuccess">
        {{message}}
    </div>


    <div data-ng-show="defaultView == 'USERBULK' && !singleView">

        <table class="table table-bordered table-condensed table-striped table-hover" id="validationRequired">
            <thead>
            <tr class="bg-primary">
                <th width="5%">Approve</th>
                <th width="10%" class="text-center">Submitted Date</th>
                <th width="10%" class="text-center">Staff code</th>
                <th width="10%" class="text-center">Name</th>
                <th width="10%" class="text-center">Total (RM)</th>
                <th width="50%" class="text-center">Reason</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="userClaim in userProfileList">
                <th width="5%"><input type="checkbox" data-ng-model="userClaim.isApproved"/></th>
                <th width="10%" class="text-center">{{userClaim.submissionDate | date:'dd/MM/yy'}}</th>
                <th width="10%" class="text-center">{{userClaim.staffCode}}</th>
                <th width="10%" class="text-center" data-ng-click="getClaimBulkDetail(userClaim)">{{userClaim.firstName}}</th>
                <th width="10%" class="text-center">{{userClaim.totalClaimAmount}}</th>
                <th width="50%" class="text-center">
                    <div class="form-group">
                        <textarea data-ng-if="!userClaim.isApproved" data-ng-model="userClaim.nonApprovalReason" class="form-control required"></textarea>
                        <div class="validationErrMsg hidden"></div>
                    </div>
                </th>
            </tr>
            </tbody>
        </table>

    </div>






    <div data-ng-if="defaultView == 'CATEGORYBULK' && !singleView">

        <div data-ng-repeat="category in categoryList">
            <div class="panel panel-default mt-15">
                <div class="panel-heading clearfix">
                    <input type="checkbox" data-ng-model="category.isApproved" data-ng-change="markApproveByCategory(category.categoryClaimFormList, category.isApproved)"/> {{category.shortName}}
                </div>
            </div>


            <table class="table table-bordered table-condensed table-striped table-hover" id="validationRequiredCat">
                <thead>
                <tr class="bg-primary">
                    <th width="5%">Approve</th>
                    <th width="10%" class="text-center">Staff Name</th>
                    <th width="10%" class="text-center">Staff Code</th>
                    <th width="10%" class="text-center">Date</th>
                    <th width="10%" class="text-center">Amount (RM)</th>
                    <th width="15%" class="text-center">Attachment</th>
                    <th width="10%" class="text-center">Detail</th>
                    <th width="50%" class="text-center">Reason</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="claim in category.categoryClaimFormList">
                    <td class="col-md-1 text-center">
                        <input type="checkbox" data-ng-model="claim.isApproved"/>
                    </td>
                    <td class="col-md-1 text-center" data-ng-click="getUserClaimDetail(claim.claimantStaffCode)">{{claim.claimantName}}</td>
                    <td class="col-md-1 text-center">{{claim.claimantStaffCode}}</td>
                    <td class="col-md-1 text-center">{{getText(claim.resultList, 2) | date:'dd/MM/yy'}}</td>
                    <td class="col-md-1 text-center">{{getAmount(claim.resultList)}}</td>
                    <td class="col-md-1 text-center" >
                <span data-ng-if="getAttachColumn(claim.resultList,4) == true" >
                    <i class="fa fa-folder-open" data-ng-click="showImageInPopUP(claim.resultList,4)" ></i>
                </span>
                    </td>
                    <td class="col-md-1 text-center">
                        <button class="btn btn-sm btn-warning" data-ng-click="showDetailPopUp(claim)">Detail</button>
                    </td>
                    <td class="col-md-6 text-center">
                        <div class="form-group">
                            <textarea data-ng-if="!claim.isApproved" data-ng-model="claim.nonApprovalReason" class="form-control required"></textarea>
                            <div class="validationErrMsg hidden"></div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div data-ng-show="singleView">



        <div class="row">
            <div  class="col-md-8 col-lg-8 col-sm-8">
                <label> User name : {{claimBulk.firstName}}</label>
            </div>
            <div class="pull-right" class="col-md-4 col-lg-4 col-sm-4">
                <button class="btn btn-sm btn-success" data-ng-click="singleView = false" data-ng-show="true"><span class="fa fa-floppy-o"></span> Back to List</button>
            </div>
        </div>
        <table class="table table-bordered table-condensed table-striped table-hover" id="validationRequiredSingle">
            <thead>
            <tr class="bg-primary">
                <th width="5%">Approve</th>
                <th width="10%" class="text-center">Category</th>
                <th width="10%" class="text-center">Date</th>
                <th width="10%" class="text-center">Amount (RM)</th>
                <th width="15%" class="text-center">Attachment</th>
                <th width="10%" class="text-center">Detail</th>
                <th width="50%" class="text-center">Reason</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="claim in claimBulk.claimFormList">
                <td class="col-md-1 text-center">
                    <input type="checkbox" data-ng-model="claim.isApproved"/>
                </td>
                <td class="col-md-1 text-center">{{claim.categoryName}}</td>
                <td class="col-md-1 text-center">{{getText(claim.resultList, 2) | date:'dd/MM/yy'}}</td>
                <td class="col-md-1 text-center">{{getAmount(claim.resultList)}} </td>
                <td class="col-md-1 text-center" >
                <span data-ng-if="getAttachColumn(claim.resultList,4) == true" >
                    <i class="fa fa-folder-open" data-ng-click="showImageInPopUP(claim.resultList,4)" ></i>
                </span>
                    <!--<span style="display:inline" class="btn btn-sm btn-warning fileinput-button form-control" data-ng-if="fieldData.imageContentList.length > 0 && fieldData.fieldType == 4">
                        <i class="fa fa-folder-open" data-ng-click="showImageInPopUP(fieldData.imageContentList)" ></i>
                    </span>-->
                </td>
                <td class="col-md-1 text-center">
                    <button class="btn btn-sm btn-warning" data-ng-click="showDetailPopUp(claim)">Detail</button>
                </td>
                <td class="col-md-6 text-center">
                    <div class="form-group">
                        <textarea data-ng-if="!claim.isApproved" data-ng-model="claim.nonApprovalReason" class="form-control required"></textarea>
                        <div class="validationErrMsg hidden"></div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>


    <div class="panel panel-default mt-15">
        <div class="panel-heading clearfix">
            <button class="btn btn-sm btn-success pull-right" data-ng-show="!singleView" data-ng-click="saveFullList(approvalData.approvalStatus, approvalData.rejectStatus)" data-ng-show="true"><span class="fa fa-floppy-o"></span> Process</button>
            <button class="btn btn-sm btn-success pull-right" data-ng-show="singleView" data-ng-click="saveSingle(approvalData.approvalStatus, approvalData.rejectStatus)" data-ng-show="true"><span class="fa fa-floppy-o"></span> Process</button>
        </div>
    </div>

</div>

