<div class="generic-container">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-striped table-bordered" >
                <thead>
                <tr >
                    <td class="text-center"><label>Number of Outlet</label></td>
                    <td class="text-center"><label>A</label></td>
                    <td class="text-center"><label>B</label></td>
                    <td class="text-center"><label>C</label></td>
                    <td class="text-center"><label>D</label></td>
                    <td class="text-center"><label>E</label></td>
                    <td class="text-center"><label>F</label></td>
                    <td class="text-center"><label>G</label></td>
                    <td class="text-center"><label>H</label></td>
                    <td class="text-center"><label>I</label></td>
                    <td class="text-center"><label>J</label></td>
                    <td class="text-center"><label>K</label></td>
                    <td class="text-center"><label>L</label></td>
                    <td class="text-center"><label>M</label></td>
                </tr>
                </thead>
                <tbody>
                <tr >
                    <td class="text-center">{{analysisSummaryOutlet.length}}</td>
                    <td class="text-center">{{getSummaryNumberOf("A", analysisSummaryOutlet)}}</td>
                    <td class="text-center">{{getSummaryNumberOf("B", analysisSummaryOutlet)}}</td>
                    <td class="text-center">{{getSummaryNumberOf("C", analysisSummaryOutlet)}}</td>
                    <td class="text-center">{{getSummaryNumberOf("D", analysisSummaryOutlet)}}</td>
                    <td class="text-center">{{getSummaryNumberOf("E", analysisSummaryOutlet)}}</td>
                    <td class="text-center">{{getSummaryNumberOf("F", analysisSummaryOutlet)}}</td>
                    <td class="text-center">{{getSummaryNumberOf("G", analysisSummaryOutlet)}}</td>
                    <td class="text-center">{{getSummaryNumberOf("H", analysisSummaryOutlet)}}</td>
                    <td class="text-center">{{getSummaryNumberOf("I", analysisSummaryOutlet)}}</td>
                    <td class="text-center">{{getSummaryNumberOf("J", analysisSummaryOutlet)}}</td>
                    <td class="text-center">{{getSummaryNumberOf("K", analysisSummaryOutlet)}}</td>
                    <td class="text-center">{{getSummaryNumberOf("L", analysisSummaryOutlet)}}</td>
                    <td class="text-center">{{getSummaryNumberOf("M", analysisSummaryOutlet)}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>