<div class="generic-container">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-striped table-bordered" >
                <thead>
                <tr >
                    <td class="text-center"><label>Outlet</label></td>
                    <td class="text-center"><label>A</label></td>
                    <td class="text-center"><label>B</label></td>
                    <td class="text-center"><label>C</label></td>
                    <td class="text-center"><label>D</label></td>
                    <td class="text-center"><label>E</label></td>
                    <td class="text-center"><label>F</label></td>
                    <td class="text-center"><label>G</label></td>
                    <td class="text-center"><label>H</label></td>
                    <td class="text-center"><label>I</label></td>
                    <td class="text-center"><label>J</label></td>
                    <td class="text-center"><label>K</label></td>
                    <td class="text-center"><label>L</label></td>
                    <td class="text-center"><label>M</label></td>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="outlet in analysisOutlet">
                    <td class="text-center">{{outlet.outletName}}</td>
                    <td class="text-center">{{getNumberOf("A", outlet.weaknessList)}}</td>
                    <td class="text-center">{{getNumberOf("B", outlet.weaknessList)}}</td>
                    <td class="text-center">{{getNumberOf("C", outlet.weaknessList)}}</td>
                    <td class="text-center">{{getNumberOf("D", outlet.weaknessList)}}</td>
                    <td class="text-center">{{getNumberOf("E", outlet.weaknessList)}}</td>
                    <td class="text-center">{{getNumberOf("F", outlet.weaknessList)}}</td>
                    <td class="text-center">{{getNumberOf("G", outlet.weaknessList)}}</td>
                    <td class="text-center">{{getNumberOf("H", outlet.weaknessList)}}</td>
                    <td class="text-center">{{getNumberOf("I", outlet.weaknessList)}}</td>
                    <td class="text-center">{{getNumberOf("J", outlet.weaknessList)}}</td>
                    <td class="text-center">{{getNumberOf("K", outlet.weaknessList)}}</td>
                    <td class="text-center">{{getNumberOf("L", outlet.weaknessList)}}</td>
                    <td class="text-center">{{getNumberOf("M", outlet.weaknessList)}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>