<div class="panel panel-default mt-15">
    <div class="panel-heading clearfix">
        <div class="row">
            <div id="breadCum" class="col-md-8 col-lg-8 col-sm-8">
                <strong> Admin > Claim List</strong>
            </div>
            <div class="pull-right" class="col-md-4 col-lg-4 col-sm-4"> <button class="btn btn-sm btn-warning" data-ng-click="goToCategoryList()"><span class="fa fa-undo"></span> Category List</button></div>
        </div>
    </div>
</div>
<div class="alert alert-danger alert-dismissable" data-ng-show="hasError">
    {{message}}
</div>
<div class="alert alert-success alert-dismissable" data-ng-show="hasSuccess">
    {{message}}
</div>

<div  ng-show="showForm">
    <div class="panel panel-default mt-15">
        <div class="panel-body p15">
            <tabset class="claimForm-tabset form-group" >
                <tab data-ng-repeat="category in categoryList"  heading="{{category.shortName}}"  class="{{category.hasError ? 'redTab':''}}">
                    <button class="btn btn-sm btn-success pull-right" data-ng-click="add(category)"><span class="fa fa-plus"></span> Add Claim</button>
                    <table class="table table-bordered table-condensed table-striped table-hover fams-table" >
                        <thead>
                        <tr class="bg-primary">
                            <th data-ng-repeat="fieldData in category.fieldDATAs">
                                {{fieldData.shortName}} <span class="text-red" data-ng-if="fieldData.isRequire == 1">*</span>
                            </th>
                            <th width="5%">Attach</th>
                        </tr>
                        </thead>
                        <tbody id="validationRequired">
                        <tr data-ng-repeat="claimForm in category.claimFormList">
                            <td  data-ng-repeat="fieldData in claimForm.resultList">
                                <div class="form-group mb-0" ng-class="{'has-error':fieldData.hasError == true}">
                                    <span> {{fieldData.fieldValue}}</span>
                                    <!--input type="text" data-ng-if="fieldData.fieldType == 0" data-ng-model="fieldData.fieldValue" class="form-control input-sm" ng-class="{'required':fieldData.isRequire == 1}" maxlength="100">
                                    <input type="text" data-ng-if="fieldData.fieldType == 2" data-ng-model="fieldData.fieldValue" class="form-control form-control-date input-sm" ng-class="{'required':fieldData.isRequire == 1}" maxlength="100"
                                           datepicker-popup="dd/MM/yyyy" close-text="Close" is_open="dt1" ng-focus="dt1 = true" ng-click="dt1 = true" >

                                    <input type="text" data-ng-if="fieldData.fieldType == 1" data-ng-model="fieldData.fieldValue" class="form-control input-sm required decimal" ng-class="{'required':fieldData.isRequire == 1}" maxlength="100">
                                    <select data-ng-if="fieldData.fieldType == null" data-ng-model="fieldData.fieldValue" class="form-control input-sm" ng-class="{'required':fieldData.isRequire == 1}"
                                            data-ng-options="subCategory.subCategoryID as subCategory.shortName for subCategory in fieldData.subCategoryList">
                                        <option value="">&#45;&#45;ALL</option>
                                    </select>
                                    <div class="validationErrMsg hidden"></div>
                                    <div data-ng-show="fieldData.hasError">
                                        {{fieldData.errMsg}}
                                    </div>-->
                                </div>

                            </td>
                            <td ><image src="http://static.dexform.com/media/docs/1864/mileage-reimbursement-claim-form_1.png" style="height: 100px;width: 100px"/></td>
                        </tr>
                        </tbody>
                    </table>
                </tab>
            </tabset>
        </div>
        <div class="panel-footer">
            <div class="text-right">
                <button class="btn btn-sm btn-success" data-ng-click="update('APPROVE')" ><span class="fa fa-floppy-o"></span> Approve</button>
                <button class="btn btn-sm btn-danger" data-ng-click="update('REJECT')"><span class="fa fa-times"></span> Reject</button>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default mt-15" ng-show="!showForm">
    <div class="panel-heading clearfix">
        <strong>Category Ruless List</strong>
        <button class="btn btn-sm btn-success pull-right" data-ng-click="add()"><span class="fa fa-plus"></span> Add Rule</button>
    </div>
    <div class="alert alert-info" data-ng-show="categoryRuleList.length == 0">No Field Found</div>

    <table class="table table-bordered table-condensed table-striped table-hover fams-table">
        <thead>
        <tr class="bg-primary">
            <th width="8%">Sl</th>
            <th>Stuff ID</th>
            <th>Stuff Name</th>
            <th>Stuff Level</th>
            <th>Status</th>
            <th>Updated On</th>
            <th>Created On</th>
            <th width="10%">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="claim in claimList">
            <td>{{$index + 1}}</td>
            <td>Claim 1</td>
            <td>{{claim.status}}</td>
            <td>8/4/2016</td>
            <td>8/4/2016</td>
            <td>
                <a href="" class="clearfix" data-ng-click="edit(claim)"><span class="fa fa-pencil-square-o"></span> Process</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>