<div class="modal-header modalHead ">
	<h4 class="modal-title">Add Complains</h4>
</div>
<div class="modal-body modalBody"  style="position:relative; z-index:1;">
	<div class="alert alert-danger alert-dismissable" data-ng-show="error">
        <div>{{errorMessage}}</div>
        <div id="lblMsg_modal"></div>
    </div>


    	<div  class="row step4Width" id="validateReq">
    		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-ng-repeat="complain in complainList">
    			<div class="form-group col-xs-6 col-sm-6" >
	   				<label>{{complain.title}}:</label>
					<input type="text" ng-model="complain.name" maxlength="240" typeahead="symptom.name for symptom in getSymptoms($viewValue)"  class="form-control" placeholder="Symptoms" typeahead-on-select='onSelectSymptom($item, $model, $label)'/>
				</div>
				<div class="form-group col-xs-3 col-sm-3" >
					<label>Duration Day:</label>
					<select class="form-control"  data-ng-show="complain.dayType < 5" data-ng-model="complain.durationNum"  data-ng-options="drugDay.value as drugDay.name for drugDay in drugNumOfDayList">
					</select>
				</div>
				<div class="form-group col-xs-3 col-sm-3" >
					<label>Duration Type:</label> 
					<select class="form-control"   data-ng-model="complain.dayType" data-ng-options="drugTime.code as drugTime.name for drugTime in drugDayTypeList">
					</select>
				</div>
    		</div >
   			
    	</div>
	
</div>
<div class="modal-footer modalFoot">
	<button class="btn btnLanier btn-success" data-ng-click="saveGroupOfComplain()" ><span class="glyphicons glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save</button>
	<button class="btn btnLanier btn-danger" data-ng-click="cancelGroupOfComplain()" ><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Cancel</button>
</div>