<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.raydar.mybatis.persistence.prescription.PrescribedDrugsMapper">


	<insert id="create" parameterType="DrugPrescribedData" useGeneratedKeys="true" keyProperty="drugPrescriptionID">

		INSERT INTO `drug_prescription`
		(
		`appointmentID`,
		`drugTypeID`,
		`drugID`,
		`drugTimeID`,
		`drugAdviceID`,
		`drugWhenID`
		)
		VALUES
		(
		#{appointmentID},
		#{drugTypeID},
		#{drugID},
		#{drugTimeID},
		#{drugAdviceID},
		#{drugWhenID}
		)

	</insert>

	<select id="bringByID" parameterType="int" resultType="DrugPrescribedData" >
		SELECT
			  dp.drugPrescriptionID,
			  dp.appointmentID,
			  dp.drugTypeID,
			  dp.drugID,
			  dp.drugTimeID,
			  dp.drugDoseUnit,
			  dp.drugAdviceID,
			  dp.drugWhenID,
			  dt.initial AS typeInitial,
			  d.drugName AS drugName,
			  d.strength AS drugStrength,
			  dwt.textEng AS drugWhenStr,
			  dat.textEng AS drugAdviceStr
			FROM
			  drug_prescription dp
			  JOIN drug_type dt ON dp.drugTypeID = dt.drugTypeID
			  JOIN drug d ON dp.drugID = d.drugID
			  LEFT JOIN drug_when_type dwt ON dp.drugWhenID = dwt.drugWhentypeID
			  LEFT JOIN drug_advice_type dat ON dp.drugAdviceID = dat.drugAdviceID

			WHERE dp.`appointmentID`= #{appointmentID}
	</select>


	<update id="update" parameterType="DrugPrescribedData">
		UPDATE drug_prescription SET drugTypeID = #{drugTypeID}, drugID = #{drugID},  drugDoseUnit = #{drugDoseUnit}, drugTimeID = #{drugTimeID},
		 drugAdviceID = #{drugAdviceID},
		 drugWhenID = #{drugWhenID}

		WHERE appointmentID = #{appointmentID}
	</update>

	<select id="getDrugs" parameterType="map" resultType="DrugData">
		SELECT d.`drugID`, d.`typeID`, d.`companyID`, CONCAT(d.drugName, ' - ',  d.`strength`) As displayName, d.drugName, d.`strength`
		FROM `drug` d
		WHERE 1 = 1
		<if test="drugName != null">
			AND LOWER(d.`drugName`) LIKE LOWER(CONCAT('%',#{drugName},'%'))
		</if>
		<if test="typeID != null">
			AND d.typeID = #{typeID}
		</if>
		<if test="name != null">
			AND d.drugName = #{name}
		</if>
	</select>

	<insert id="createDrug" parameterType="DrugData" useGeneratedKeys="true" keyProperty="drugID">


		INSERT INTO `drug`
		(
			`typeID`,
			`hospitalID`,
			`drugName`,
			`strength`
		)
		VALUES
		(
			#{typeID},
			#{hospitalID},
			#{drugName},
			#{strength}
		)


	</insert>

	<insert id="createDose" parameterType="DrugDose" useGeneratedKeys="true" keyProperty="drugDoseID">


		INSERT INTO `drug_dose_period`
		(
		`drugPrescriptionID`,
		`dose`,
		`numOffDay`,
		`durationType`
		)
		VALUES
		(
		#{drugPrescriptionID},
		#{dose},
		#{numOffDay},
		#{durationType}
		)


	</insert>

	<select id="getDrugDose" parameterType="int" resultType="DrugDose">
		SELECT dp.drugDoseID, dp.drugPrescriptionID, dp.dose, dp.numOffDay, dp.durationType, dwt.textEng AS drugWhenStr
		FROM drug_dose_period dp
		LEFT JOIN drug_when_type dwt ON dp.durationType = dwt.drugWhentypeID
		WHERE drugPrescriptionID = #{drugPrescriptionID}
	</select>


	




</mapper>