<script type="text/ng-template" id="action_template">
    <a href="" data-ng-click="consult(item)"><i class="fa fa-user-md "></i> </a>
    <a href="" class=""
       echo-confirmation="delete(item)"
       confirmation-message="Are you sure to remove?"
       confirmation-title="Confirmation"
       item="item">
        <span class="fa fa-level-up"></span> </a>

</script>

<div class="panel panel-default mt-15">
    <div class="panel-heading clearfix">
        <strong>Appointment List</strong>
        <!--<div class="pull-right">
            <button class="btn btn-sm btn-success" ng-show="!showForm" title="Add Appoinment" data-ng-click="add()"><span class="glyphicon glyphicon-plus"></span></button>
            <button class="btn btn-sm btn-warning" ng-show="showForm" title="Back To List" data-ng-click="backToList()"><span class="glyphicon glyphicon-arrow-left"></span></button>
        </div>-->
    </div>
    <div class="panel-body">
        <div class="alert alert-danger alert-dismissable" data-ng-show="hasError">
            {{message}}
        </div>
        <div class="alert alert-success alert-dismissable" data-ng-show="hasSuccess">
            {{message}}
        </div>


        <div class="row">
            <div class="form-group col-md-3 col-lg-3">
                <div class="input-group">
                    <input type="text" class="form-control" enter-event="search()" ng-model="searchParam.patientFirstName" />
                    <span class="input-group-addon">Patient Name</span>
                </div>
            </div>
            <div class="form-group col-md-3 col-lg-3">
                <div class="input-group">
                    <input type="text" data-ng-model="searchParam.appointmentDate" class="form-control form-control-date input-sm" maxlength="100" datepicker-popup="dd/MM/yyyy" close-text="Close" is_open="dt1" ng-focus="dt1 = true" ng-click="dt1 = true">
                    <span class="input-group-addon">Appointment Date</span>
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <button class="btn btn-primary" ng-click="search()"><i class="fa fa-search"></i></button>
            </div>

            <div class="col-md-12 col-lg-12">
                <ad-table-ajax table-classes="table table-bordered table-hover bfpb-table"
                               page-sizes="[10, 20, 30]"
                               page-loader="methods.pageLoader"
                               pagination-btn-group-classes="pagination pagination-sm"
                               items-not-found-message="No Appointment found"
                               state="{sortKey: 'appointmentDate', sortDirection: 'ASC'}"
                               column-definition="columnDefinition"
                               ajax-config="dataSourceConfig">
                </ad-table-ajax>
            </div>
        </div>

    </div>
</div>