<div class="modal-header modalHead ">
	<h4 class="modal-title">Add New Patient</h4>
</div>
<div class="modal-body modalBody"  style="position:relative; z-index:1;">
	<div class="alert alert-danger alert-dismissable" data-ng-show="error">
        <div>{{errorMessage}}</div>
        <div id="lblMsg_modal"></div>
    </div>


    	<div  class="row step4Width" id="validateReq">
			<div class="form-group col-xs-6 col-sm-6">
				<label>Doctor  Name: <span class="red" >*</span></label>
				<input type="text" data-ng-model="doctorName" typeahead="patientList.firstName for patientList in getPatientList(1, $viewValue)"  class="form-control" placeholder="Search Doctor by name" typeahead-on-select='onSelectItem($item, $model, $label, 1)'/>
			</div>

   			<div class="form-group col-xs-6 col-sm-6">
   				<label>Patient  Name: <span class="red" >*</span></label>
				<input type="text" data-ng-model="patientName" typeahead="patientList.firstName for patientList in getPatientList(2, $viewValue)"  class="form-control" placeholder="Search Patient by name" typeahead-on-select='onSelectItem($item, $model, $label, 2)'/>
			</div>
			
			<div class="form-group col-xs-6 col-sm-6" >
				<label>Date: <span class="red" >*</span></label>
				<input type="text" data-ng-model="appointmentData.appointmentDate" class="form-control form-control-date input-sm" maxlength="100" datepicker-popup="dd/MM/yyyy" close-text="Close" is_open="dt1" ng-focus="dt1 = true" ng-click="dt1 = true">
				<!--<input class="form-control decimal" type="text" maxlength="6" data-ng-model="appointmentData.appointmentDate">-->
			</div>

			<div class="form-group col-xs-6 col-sm-6" >
				<label>Time: <span class="red" >*</span></label>
				<div timepicker data-ng-model="appointmentData.appointmentTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
				<!--<input class="form-control decimal" type="text" maxlength="6" data-ng-model="appointmentData.appointmentTime">-->
			</div>

			<div class="form-group col-xs-6 col-sm-6" >
				<label>Appointment Type: <span class="red" >*</span></label>
				<select  ng-model="appointmentData.appointmentType" class="form-control input-sm required"  >
					<option value="" >--Select--</option>
					<option value="1" >Counseling </option>
					<option value="2" >Report</option>
				</select>
			</div>
    	</div>
	
</div>
<div class="modal-footer modalFoot">
	<button class="btn btnLanier btn-success" data-ng-click="createNewPatient()" >
		<span class="glyphicons glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save
	</button>
	<button class="btn btnLanier btn-danger" data-ng-click="cancelNewPatient()" >
		<span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Cancel
	</button>
</div>