<div class="large big" id="testModal">

    <div class='modal-header modalHead'>
        <h4 class='modal-title'>Change Password</h4>
    </div>

    <div class='modal-body'>
        <div class="row" id="validationRequired">

            <div  class="col-md-5 col-lg-5 col-sm-5 form-group">
                <label>Enter New Password</label>
                <input type="password"  class="form-control input-sm required" maxlength="45" data-ng-model="password">
            </div>

            <div  class="col-md-5 col-lg-5 col-sm-5 form-group" data-ng-class="{'has-error' : confirmPassword != null && password != confirmPassword}">
                <label>Confirm New Password</label>
                <input type="password"  class="form-control input-sm required" maxlength="45" data-ng-model="confirmPassword">
            </div>
        </div>
    </div>

    <div class="modal-footer modalFoot">
        <button class="btn btn-default btnLanier" ng-click="save()"><i class="fa fa-close"></i> Save</button>
        <button class="btn btn-danger btnLanier" ng-click="cancel()"><i class="fa fa-close"></i> Cancel</button>
    </div>
</div>