<div class="container">
	<br><br><br>
	<div class="col-md-7">
		<div class="alert alert-danger alert-dismissable" data-ng-show="hasError">
			{{message}}
		</div>
		<div class="alert alert-success alert-dismissable" data-ng-show="hasSuccess">
			{{message}}
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Reset password</h3>
			</div>
			<div class="panel-body">
				<form action="" style="padding: 15px;" id="resetPasswordFormID">
					<div class="form-group">
						<label>Enter Staff Code</label>
						<input class="form-control required" type="text" data-ng-model="userName" name="" placeholder="Please type your Username to send Password Reset Email"/>
						<div class="validationErrMsg small text-danger mt-5 hidden"></div>
					</div>

					<div class="row">
						<div class="col-sm-6 col-md-6 col-lg-6">
							<button type="submit" class="btn btn-success" style="margin: 0;" data-ng-click="sendResetPasswordMail()">Send Password reset email</button>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6 text-right">
							<button type="submit" class="btn btn-danger" style="margin: 0;" data-ng-click="cancel()">Cancel</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>