html, body {
    min-height: 100%;
}

body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 11px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.header-top{
    background-image: url(../images/header-bg.jpg);
    max-height: 120px;
    width: 100%;
    background-repeat: repeat;
    background-position:center center;
}

.main-logo{
    background-image: url(../images/logo.png);
    height: 140px;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center;
}


.navigation .list-group-item{
    background-image:url(../images/nav-bg.jpg);
    width: 100%;
    background-repeat: repeat;
    background-position:center center;
}

.navigation h4{
    font-size: 12px;
    color: #333;
    font-weight: 600;
}

.mini-submenu{
    display:none;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    padding: 9px;
    position: relative;
    width: 42px;

}

.mini-submenu:hover{
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.mini-submenu .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    margin-top: 3px;
}

.mini-submenu .icon-bar {
    background-color: #000;
}

#slide-submenu{
    background: rgba(0, 0, 0, 0.45);
    display: inline-block;
    padding: 0 8px;
    border-radius: 4px;
    cursor: pointer;
}

.sub-nav a.list-group-item {
    padding-left: 30px;
    font-size: 10px;
    color: #777;
}

.sub-nav a.list-group-item:hover {
    color: #009345;
}

.sidebar{
    margin-top: 30px;
    padding: 0px;
}

.navigation > .list-group-item{
    border-radius: 0px;
}

.list-group {
    margin-bottom: 0px;
}

.list-group-item:last-child {
    border-radius: 0;
    border-bottom: 0 none;
    margin-top: 0px;
}

.search {
    background:url(../images/search-bg.jpg);
    background-repeat: repeat;
    background-position: center center;
    padding: 3px;
}

.search .ace-icon{
    font-size: 16px;
    color: #cccccc;
}

.search-box {
    background: #fff;
    border: 1px solid #b0bec5;
    border-radius: 20px;
    margin: 0;
    padding: 5px 10px;
    width: 240px;
    float: right;
}

.search-box input {
    border: 0 none;
    outline: none;
}

.footer{
    border-top: 1px solid #cccccc;
    background-color: #ffffff;
    height: 60px;
    width: 100%;
    padding: 10px 0 10px 0;
    position: fixed;
    bottom: 0;
    z-index: 999;
}

.footer p {
    font-size: 13px;
    color: #333;
}

.tab-body {padding-top: 10px;}


/*//////// Helper Classes /////////*/

.m0 { margin: 0 !important; }
.m5 { margin: 5px; }
.m10 { margin: 10px; }
.m15 { margin: 15px; }
.m20 { margin: 20px; }
.m25 { margin: 25px; }
.m30 { margin: 30px; }

.mt-0 { margin-top: 0 !important; }
.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.mt-25 { margin-top: 25px; }
.mt-30 { margin-top: 30px; }

.mb-0 { margin-bottom: 0 !important; }
.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-25 { margin-bottom: 25px; }
.mb-30 { margin-bottom: 30px; }

.p0 { padding: 0 !important; }
.p5 { padding: 5px; }
.p10 { padding: 10px; }
.p15 { padding: 15px; }
.p20 { padding: 20px; }
.p25 { padding: 25px; }
.p30 { padding: 30px; }

.pt-0 { padding-top: 0 !important; }
.pt-5 { padding-top: 5px; }
.pt-10 { padding-top: 10px; }
.pt-15 { padding-top: 15px; }
.pt-20 { padding-top: 20px; }
.pt-25 { padding-top: 25px; }
.pt-30 { padding-top: 30px; }

.pl-0 { padding-left: 0 !important; }
.pl-5 { padding-left: 5px !important; }
.pr-0 { padding-right: 0 !important; }
.pr-5 { padding-right: 5px !important; }

.pb-0 { padding-bottom: 0 !important; }
.pb-5 { padding-bottom: 5px; }
.pb-10 { padding-bottom: 10px; }
.pb-15 { padding-bottom: 15px; }
.pb-20 { padding-bottom: 20px; }
.pb-25 { padding-bottom: 25px; }
.pb-30 { padding-bottom: 30px; }

.text-red { color: #F44336; }

.custom-error { border: 1px solid #a94442 !important; }

.echo-table {
    table-layout: fixed;
}
.echo-table > thead > tr, .echo-table > thead > th {
    color: #fff;
    background-color: #337ab7;
}

.echo-table > tbody td{
    word-wrap: break-word;
    text-overflow: ellipsis;
}
.hasClaim{
    text-decoration: underline;
}
 .redTab > a {
     color:red !important;
     text-decoration: underline;
 }
.warningTab > a{
    color:moccasin !important;
    text-decoration: underline;
}
.accordion-toggle{
    background-color: #F9F9F9;
    cursor: pointer;
}
.divScroll{
    overflow: auto;
    height: 600px;
}
.item2Selected{
    background-color: silver;
}
.bluePanel{

    margin-bottom: 20px;
    background-color: #e8e8e8;
    border: 1px solid transparent;
    border-radius: 4px;
}

.itemSelected{
    background-color: lightskyblue;
}




.appointment {background-color: #f5f5f5; !important; padding: 20px; height: 600px !important;}

.appointment .panelHead {  box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow:none;border:yellow; solid: 5px; }
.appointment .panelHead-body { background-color:#CCFFFF;padding: 28px;border-radius:4px; }
.appointment .panelVisited-body { background-color:#99CCFF;padding: 28px;border-radius:4px;cursor: pointer; }


.appointment .panelChild {  box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow:none;border:rgba(249, 195, 80, 0.5); solid: 2px;padding-top: 10px;}
.appointment .panelChild-body { background-color:#f5f5f5;padding: 24px;border-radius:4px; }
.appointment .panelChild-body:HOVER { background-color:#CCFFFF !important;border-width: 2px; cursor: pointer; padding: 28px; }

.prescriptionPanel-body {
    background-color:rgba(95,195,220,.75);padding: 24px;border-radius:4px;
}

.followUp {background-color: rgba(95,195,220,.75); !important; padding: 20px; !important;}

.followUp .panelHead {  box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow:none;border:yellow; solid: 5px; }
.followUp .panelHead-body { background-color:#CCFFFF;padding: 28px;border-radius:4px; }
.followUp .panelVisited-body { background-color:#99CCFF;padding: 28px;border-radius:4px; }


.followUp .panelChild {  box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow:none;border:rgba(249, 195, 80, 0.5); solid: 2px;padding-top: 10px; }
.followUp .panelChild-body { background-color:#FFFFFF;padding: 24px;border-radius:4px; }
.followUp .date { background-color:gray;padding: 5px;border-radius:4px;text-align: center; }
.followUp .result { background-color:silver;padding: 5px;border-radius:4px;text-align: center; }



.headerText{
    font-size: 20px;
    font-weight:bold;
    background-color: #FFFF99;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
}

/* Body Color and Shades*/

.app-logo {
    left: 0;
    min-height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
/* Buttons on the right */
.rightBtns{top:0;right:0;position:absolute;}
/* Logout button */

.hLogout { font-size: 1.15em; border-left: 1px solid #555555 !important; }
.hLogout:hover, .hLogout:focus { color: #fff; text-decoration: none; }
.hLogout > i { }

/* Help */

.help-link, .config-link, .change-prop { padding: 6px 10px; }
.help-link i, .config-link i, .change-prop i { font-size: 1.6em;  }
.change-prop { background-color: #333; }
.change-prop i { color: #fcb53e; }

/*## App Footer ##*/



/*## Gust Booking ##/////////////////////////////////////*/

.guestbooking { }
/* .booking-tble { border-radius:5px; } */
.booking-tble table td { vertical-align: middle !important; }
.booking-tble table td:not(:nth-child(1)) {  font-size: 0.8em; text-align: center; }
.booking-tble table td:nth-child(2n+2){ background-color: #ededed;}
.booking-tble table td .roomno {
    color: #fff;
    background: none repeat scroll 0 0 #8b62a9;
    display: inline-block;
    border-radius: 5px;
    font-size: 0.8em;
    margin-right: 6px;
    padding: 7px;
    text-align: center;
    width: 38px;
}

/* .booking-tble table thead tr td { border-bottom:1px solid rgb(163,163,163)!important; background-color: #FFDFA5; }
.booking-tble .table-striped > tbody > tr:nth-child(odd) > td { background-color: #FFFCEF }
.booking-tble table thead tr:first-child td:first-child { border-bottom:1px solid rgb(163,163,163)!important; border-top-left-radius:5px }
.booking-tble table thead tr:first-child td:last-child { border-top-right-radius:5px }  */

/*## Helper Classes ##/////////////////////////////////////*/

.m-0 { margin: 0px !important; }
.m-l-0 { margin-left: 0px !important; }
.m-t-0 { margin-top: 0px !important; }
.m-r-0 { margin-right: 0px !important; }
.m-b-0 { margin-bottom: 0px !important; }

.btn-circle {
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 2px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.common-info {
    background: url("../images/icon-info-24x.png") no-repeat scroll 0 0 transparent;
    padding: 0 0 15px 32px;
    text-align: left;
    font-family:"Helvetica Neue",Helvetica,Arial, sans-serif;
    font-size: 12px;
    color: #555555;
}
.common-info-text {
    padding: 0 0 15px 32px;
    text-align: left;
    font-family:"Helvetica Neue",Helvetica,Arial, sans-serif;
    font-size: 12px;
    color: #555555;
}
.common-info-error {
    background: url("../images/icon-alert-red-16.png") no-repeat scroll 0 0 transparent;
    color: #FF0000;
    font-size: 13px;
    padding: 0 0 15px 24px;
}
.common-info-error-text{
    color: #FF0000;
    font-size: 13px;
    padding: 0 0 15px 24px;
}
.changePassSize{
    background: none repeat scroll 0 0 #f0f0f0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 550px;
}
.forgotPass{
    background: url("../images/email-box.gif") no-repeat scroll 0 0 transparent;
    padding: 0 0 15px 32px;
    text-align: left;
}
.user-activation{
    background: none repeat scroll 0 0 #f0f0f0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 650px;
}
.modal-z-index{
    z-index: 1060 !important
}
.span-align-middle {
    display: table-cell; height: 40px; vertical-align: middle;
}
/* UI.Bootrap CSS Override */

.dropdown-menu.ng-valid-date {
    padding: 5px;
    width: 278px;
}
.dropdown-menu.ng-valid-date table > thead > tr > th {
    padding-bottom: 5px;
}

/* no padding for all login */
.loginPadding{
    margin-top:-38px!important;
}

/* CSS3 Text Ellipsis */

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*  Page Animations */

.page {
    opacity: 1;
}

.page.ng-enter, .page.ng-leave {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.page.ng-enter {
    opacity: 0;
}

.page.ng-leave {
    opacity: 1;
}

.page.ng-enter.ng-enter-active {
    opacity: 1;
}

.page.ng-leave.ng-leave-active {
    opacity: 0;
}
.link{
    cursor: pointer;
}
.verticalLine {
    border-left: thin solid silver;
}
.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 80px;
    cursor: pointer;
}
.nav-tabs {
    padding-left: 15px;
    margin-bottom: 0;
    border: none;
}
.tab-content {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
}

.item-box{
    background-color: #efffb2;
    border: 1px solid whitesmoke;
    width: 100%;
    height: 100px;
    border-radius: 4px;
    padding: 15px;
}
#source-button {
    position: absolute;
    right: 0;
    z-index: 100;
    font-weight: 700;
}
.well{
    background-color: rgba(126, 131, 76, 0.08) !important;
}

.panel-reg{
    background-color: rgba(181, 246, 138, 0.21);
}
.mainLabel{
    cursor: pointer;
}
.item-head{
    font-size: 15px;
    margin-top: 0px !important;
    padding: 10px 10px 5px 10px;
    border-left: 5px solid #3ac0ff;
    background-color: #F6F6F6;
}
.selected{
    background-color: #FFFF99;
}
.modal-header{
    background-color: rgba(145, 156, 49, 0.45) !important;
}
.modal-body{
    background-color: rgba(181, 246, 138, 0.21) !important;
;
}
.modal-footer{
    background-color: rgba(145, 156, 49, 0.45) !important;
}



