
	html, body { min-height: 100%; }
	
	body { 
		background-color: #999;
		background-position: center top;
		background-size: cover; 
		padding-top: 0px;
	}
	
	.login-container {
		position: absolute;
		left: 0;
		top: 0; 
		z-index: 111;
	}	
	
	/* footer */
	
	.navbar-footer-login { 
		background-color: rgba(255, 255, 255, 0.5);	    
	    height: 38px !important;
	    line-height: 38px;
	    min-height: 38px !important;
	    text-align: center;
	}
	
	a:link, a:visited { color: #252525; }
	a:hover, a:focus { color: #252525; }
	
	
	/* Media Queries */
	
	@media (max-width: 767px) {
		.bbconnect-logo { padding: 30% 0 10% 0 !important; }
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		.bbconnect-logo { padding: 30% 0 10% 0 !important; }
	}
	
	@media (min-width: 992px) and (max-width: 1199px) {
		.bbconnect-logo { padding: 30% 0 5% 0 !important; }
	}
	
	@media (min-width: 1200px){
		.bbconnect-logo { padding: 30% 0 4% 0 !important; }
	}