<div class="row" >
    <div class="col-sm-6 col-md-6 col-lg-6">
        <h2 class="item-head">
            <a href="javascript:" data-ng-click="addCCToPrescription()"><label class="mainLabel">Chief Complaints</label></a>
        </h2>
        <div data-ng-repeat="complain in prescribedComplainList">
            <a class="link" data-ng-click="editFromPresciption(complain)">
                <span class="glyphicon glyphicon-pencil link" aria-hidden="true"></span>
            </a>
            <a class="link" data-ng-click="deleteCCFromPresciption(complain.id)">
                <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
            <span>{{getComplainString(complain)}}</span>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <h2 class="item-head">
            <a href="javascript:" data-ng-click="addVital()"><label class="mainLabel">On Examination</label></a>
        </h2>
        <div data-ng-repeat="vitalData in prescribedVitalData">
            <a class="link" data-ng-click="deleteVitalFromPrescibtion(vitalData.id)">
                <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
            <span>{{vitalData.vitalDisplayName}} : {{vitalData.vitalResult}}</span>
        </div>

    </div>


</div>


