<div class="row">

    <div class="col-sm-6 col-md-6 col-lg-6">

        <div data-ng-if="pastDiseaseList.length > 0">
            <h2 class="item-head"><label>Past Disease</label></h2>
            <div data-ng-repeat="data in pastDiseaseList | filter : {isPresent :  0}" >
                <a class="link" data-ng-click="deletePastHistory(data.id)">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
                <span>{{data.diseaseName}}</span>
            </div>
        </div>

        <div data-ng-if="pastDiseaseList.length > 0">
            <h2 class="item-head"><label>Current Disease</label></h2>
            <div data-ng-repeat="data in pastDiseaseList  | filter : {isPresent : 1 }" >
                <a class="link" data-ng-click="deletePastHistory(data.id)">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
                <span>{{data.diseaseName}}</span>
            </div>
        </div>

        <div data-ng-if="familyDiseaseList.length > 0">
            <h2 class="item-head"><label>Family Disease</label></h2>
            <div data-ng-repeat="data in familyDiseaseList" >
                <a class="link" data-ng-click="deleteFamilyHistory(data.id)">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
                <span>{{data.diseaseName}}</span> - <span>{{data.relationName}}</span>
            </div>
        </div>

        <div data-ng-if="familyDiseaseList.length > 0">
            <h2 class="item-head"><label>Drug Disease</label></h2>
            <div data-ng-repeat="drug in drugHistory" >
                <label>{{drug.headerName}}</label>
                <div data-ng-repeat="data in drug.prescribedDrugList">
                    <a class="link" data-ng-click="removeDrugHistory(data)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                    <span>{{data.detail}}</span>
                </div>
            </div>
        </div>



    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="" data-ng-repeat="history in historyList">
            <div data-ng-if="history.prescribedHistoryList.length > 0">
                <h2 class="item-head"><label>{{history.headerName}}</label></h2>
                <div data-ng-repeat="data in history.prescribedHistoryList" >
                    <a class="link" data-ng-click="deleteHistory(data)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                    <span>{{data.historyName}}: {{data.historyResult}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

