<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <h2 class="item-head">
            <label>Clinical Note</label>
            <a  class="fa fa-floppy-o pull-right link" aria-hidden="true" data-ng-click="updateCommentText(commentText)"></a>
        </h2>
        <span><textarea rows="3" style="width: 100%" data-ng-model="commentText">{{commentText}}</textarea></span>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <h2 class="item-head">
            <label>Next Visit</label>
            <i class="fa fa-sort-numeric-asc pull-right link" data-ng-show="nextVisitData.nextVisitType != 2" data-ng-click="nextVisitData.nextVisitType = 2;nextVisitData.needSaveButton = true"></i>
            <i class="fa fa-calendar pull-right link" data-ng-show="nextVisitData.nextVisitType == 2" data-ng-click="nextVisitData.nextVisitType = 1"></i>
        </h2>
        <div class="input-group input-group-sm" data-ng-show="nextVisitData.nextVisitType != 2">

            <input type="text"  data-ng-model="nextVisitData.date" data-ng-change="fixNextVisit()" class="form-control form-control-date input-sm"  maxlength="100" placeholder="Next Visit Date"
                   datepicker-popup="dd/MM/yyyy" close-text="Close" is_open="dt1" ng-focus="dt1 = true" ng-click="dt1 = true" >

            <!--LOL
            <input type="text"  class="form-control date" id="txtStartDate" placeholder="Next Visit Date" ng-change="fixNextVisit()" datepicker-popup="dd/MM/yyyy" close-text="Close" ng-model="nextVisitData.date" is-open="false"/>-->
            <span  class="input-group-addon" >
                <i class="glyphicon glyphicon-calendar" ></i>
            </span>
        </div>

        <div class="form-group" data-ng-show="nextVisitData.nextVisitType == 2" >
            <label>After:</label>
            <i class="pull-right fa fa-floppy-o link" data-ng-show="nextVisitData.needSaveButton" data-ng-click="fixNextVisit()"></i>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <select class="form-control "  data-ng-model="nextVisitData.numOfDay"  data-ng-options="drugDay.name for drugDay in dayList" data-ng-change="nextVisitData.needSaveButton = true">
                    </select>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <select class="form-control col-sm-6 col-md-6 col-lg-6"   data-ng-model="nextVisitData.dayType" data-ng-options="drugDay.value as drugDay.name for drugDay in dayTypeList" data-ng-change="nextVisitData.needSaveButton = true">
                    </select>
                </div>
            </div>
        </div>
    </div>


</div>


