<div class="large big" id="" >
    <div class="modal-header">
        <div class="col-sm-9 col-md-9 col-lg-9">
            <h4 class="modal-title">On Examination</h4>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <button class="btn btn-info pull-right" data-ng-click="vitalSetting = !vitalSetting"><span class="glyphicon glyphicon glyphicon-wrench" aria-hidden="true"></span> Settings</button>
        </div>

    </div>
    <div class="modal-body modalBody"  style="position:relative; z-index:1;">
        <div class="alert alert-danger alert-dismissable" data-ng-show="error">
            <div id="lblMsg"></div>
        </div>
        <div class="alert alert-success" data-ng-show="succcess">
            <div>{{message}}</div>
        </div>

        <div id="vitalSetting" data-ng-show="vitalSetting" class="panel  col-md-12 filter-panel" style="padding-top: 20px">

            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="panel">
                    <div class="panel-body">
                        <div class="room-desc  form-group" >
                            <label >Vital Name</label>
                            <input type="text" data-ng-model="vitalData.vitalName" typeahead="vitalNameData.vitalName for vitalNameData in getVital($viewValue)"  class="form-control required" placeholder="Add vital to your settings" typeahead-on-select='onSelectVital($item, $model, $label)'/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="panel">
                    <div class="panel-body">
                        <div class="room-desc  form-group">
                            <label >Display name</label><span class="pull-right"><input type="checkbox" data-ng-model="vitalSameAS" data-ng-click="vitalData.shortName = vitalData.vitalName">Same AS Vital Name</span>
                            <input type="text" class="form-control input-sm required" data-ng-model="vitalData.shortName" maxlength="45" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="panel" >
                    <div class="panel-body">
                        <div class="room-desc form-group">
                            <label > Vital Unit</label>
                            <input type="text" class="form-control input-sm" data-ng-model="vitalData.unit" maxlength="16" placeholder="Unit" errmsg="Please enter vital Unit"/>
                        </div>
                    </div>
                </div>
            </div>

            <button class="pull-right btn btn-info" data-ng-click="addVitalToDoctorPref()">
                <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> ADD to List
            </button>
        </div>

        <div class="row" data-ng-show="!vitalSetting">
            <div class="col-sm-6 col-md-6 col-lg-6" data-ng-repeat="vital in prescribedVitalData">
                <div>
                    <span class="glyphicons glyphicon glyphicon-remove" aria-hidden="true" data-ng-click="deleteVitalFromSetting(vital.vitalSettingID)"></span>
                    <span>{{vital.vitalName}}</span>
                    <input type="text" data-ng-model="vital.vitalResult" typeahead="vitalOption.name for vitalOption in getVitalOption(vital, $viewValue)"  class="form-control" typeahead-on-select='onSelectInvName($item, $model, $label)'/>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer modalFoot">
        <button class="btn btn-success" data-ng-click="saveVital()"><span class="glyphicon  glyphicon-floppy-save" aria-hidden="true"></span> Save & Continue</button>
        <button class="btn btnLanier btn-danger" data-ng-click="cancelVital()" ><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Cancel</button>
    </div>
</div>
