<div class="panel panel-default mt-15">
    <div class="panel-heading clearfix">
        <div class="row">
            <div id="breadCum" class="col-md-8 col-lg-8 col-sm-8">
                <strong> Admin > Rule Setup</strong>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default mt-15" >
    <div class="panel-body gradient-default">
        <tabset class="claimForm-tabset form-group" >
            <tab data-ng-repeat="category in categoryList"  heading="{{category.shortName}}"  class="{{category.hasError ? 'redTab':''}}">
                <table class="table table-bordered table-condensed table-striped table-hover fams-table">
                    <thead>
                    <tr class="bg-primary">
                        <th width="8%">Sl</th>
                        <th>Name</th>
                        <th>Sub Category</th>
                        <th>Applied Field</th>
                        <th>Validation Type</th>
                        <th>Apply To</th>
                        <th>Limit</th>
                        <th width="10%">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="categoryRule in category.ruleList">
                        <td>{{$index + 1}}</td>
                        <td>{{categoryRule.shortName}}</td>
                        <td>{{categoryRule.subcategoryName}}</td>
                        <td>{{categoryRule.categoryFieldName}}</td>
                        <td>{{getTextForRule(categoryRule.ruleType)}}</td>
                        <td>{{getTextForApplyTo(categoryRule.applyTo)}}</td>
                        <td>{{getTextForLimit(categoryRule.limit)}}</td>
                        <td>
                            <a href="" class="clearfix" data-ng-click="edit(categoryRule)"><span class="fa fa-pencil-square-o"></span> Edit</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </tab>
        </tabset>
    </div>
</div>